.gallery-section {}

/* Галерея */
.gallery {
	position: relative;
	width: 100%;
	height: 717px;
}

.gallery-section__title-wrapper {
	position: absolute;
	top: 60px;
	z-index: 100;
}

.section__title.gallery-section__title {
	color: #fff;
	font-size: 22px;
	line-height: 30px;
	text-transform: uppercase;
}

/* Слайды */
.gallery__slides {
	position: relative;
}

.gallery__slide {
	position: absolute;
	opacity: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 717px;
}

.gallery__slide_active {
	opacity: 1;
}

/* Изображения слайдов */
.gallery__slide_first {
	background: url("../resources/Slide_project_1.png") center center / cover no-repeat;
}

.gallery__slide_second {
	background: url("../resources/Slide_project_2.png") center center / cover no-repeat;
}

.gallery__slide_third {
	background: url("../resources/Slide_project_3.png") center center / cover no-repeat;
}

.gallery__slide_fourth {
	background: url("../resources/Slide_project_4.png") center center / cover no-repeat;
}


.gallery__project-name-wrapper {
	position: absolute;
	bottom: 60px;
}

.gallery__project-name {
	font-size: 30px;
	line-height: 41px;
	color: #fff;
	max-width: 443px;
}

.gallery__control-wrapper {
	position: absolute;
	/* display: flex; */
	bottom: 165px;
	width: 100%;
}

.gallery__control {
	display: flex;
	gap: 34px;
	/* Это свойство использовать в адаптиве */
	/* justify-content: space-between; */
}

.gallery__control-prev {
	/* width: 40px;
	height: 40px; */
}

.gallery__control-prev:hover {
	opacity: 0.5;
	transition: 0.2s;
}

.gallery__control-next {
	/* width: 40px;
	height: 40px; */
}

.gallery__control-next:hover {
	transition: 0.2s;
	opacity: 0.5;
}