/* @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500&display=swap'); */

html,
body {
	height: 100%;
	font-family: 'Manrope', sans-serif;
	letter-spacing: -0.03em;
	font-family: Manrope, sans-serif;
	font-weight: 400;
	color: #121212;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
	letter-spacing: -0.03em;
}

.container {
	margin: 0 auto;
	padding: 0 20px;
	max-width: 1150px;
}

.header {
	max-width: 100%;
	margin-top: 32px;
	margin-bottom: 70px;
}

.header_container {
	max-width: 1150px;
	margin: 0 auto;
	padding: 0 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header_link {
	color: #121212;
	position: relative;
	font-size: 18px;
	margin-left: 57px;
	line-height: 25px;
	text-decoration: none;
}

.header_link:hover {
	color: #121212;
	transition: 0.5s;
	opacity: 0.5;
	border-bottom: 1px solid;
}

.header_link:first-child {
	margin-left: 0;
}

.main {
	flex: 1 1 auto;
}

.primary-section {
	margin-bottom: 150px;
}

.primary-section_title {
	font-size: 60px;
	max-width: 990px;
	line-height: 60px;
	margin-bottom: 30px;
}

.primary-section_info {
	width: 100%;
	height: 500px;
	position: relative;
	max-width: 100%;
	background: url(../resources/main_image.jpg) center center no-repeat;
	background-size: cover;

}

.primary-section_text {
	left: 40px;
	color: #FFFFFF;
	bottom: 40px;
	position: absolute;
	max-width: 430px;
	font-size: 20px;
	line-height: 27px;
}

.section_title {
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.about {
	margin-bottom: 170px;
}

.about_text {
	max-width: 1060px;
	font-size: 45px;
	line-height: 61px;
	letter-spacing: -0.03em;
	font-weight: 100;
	margin-bottom: 50px;
}

.about_button {
	color: #FFFFFF;
	padding: 20px 40px;
	background: #AD1818;
	font-size: 20px;
	line-height: 27px;
	text-decoration: none;
	border-radius: 5px;
}

.about_button:hover {
	color: #AD1818;
	transition: 0.3s;
	background: #FFFFFF;
	border: 1px solid #AD1818;

}

.projects {
	margin-bottom: 150px;
}

.projects_card {
	margin-bottom: 88px;
}

.projects_card-image {
	max-width: 100%;
	margin-bottom: 15px;
}

.projects_card-name {
	font-size: 30px;
	margin-bottom: 15px;
	line-height: 41px;
}

.projects_card-link {
	color: #AD1818;
	text-decoration: none;
	font-size: 20px;
	line-height: 27px;
}

.projects_button {
	color: #AD1818;
	padding: 50px 0;
	display: block;
	border: 1px solid #AD1818;
	font-size: 30px;
	text-align: center;
	line-height: 41px;
	text-decoration: none;
	border-radius: 5px;
}

.projects_button:hover {
	color: #FFFFFF;
	transition: 0.5s;
	background-color: #AD1818;
	border: none;
}

.services {
	background-color: #121212;
	padding: 156px 0 87px 0;

}

.section_title__white {
	color: #FFFFFF;
}

.services_card {
	margin-bottom: 60px;
}

.services_card-image {
	margin-bottom: 15px;
	max-width: 100%;
}

.services_card-name {
	color: #FFFFFF;
	font-size: 30px;
	line-height: 41px;
	font-weight: 100;
}

.dedicated-service {
	background: url(../resources/section\ bacground\ image.png) center center no-repeat;
	background-size: cover;
	height: 717px;
	position: relative;
	max-width: 100%;
}

.dedicated-service_name {
	color: #FFFFFF;
	font-size: 30px;
	font-weight: 100;
	max-width: 443px;
	bottom: 60px;
	position: absolute;
	line-height: 41px;
}

.contacts {
	padding: 150px 0;
}

.contacts_phone-icon {
	margin-bottom: 12px;
}

.contacts_title {
	font-size: 18px;
	line-height: 25px;
	font-weight: 100;
	margin-bottom: 30px;
}

.contacts_phone_number {
	margin-bottom: 30px;
	font-size: 60px;
	font-weight: 100;
	line-height: 60px;
}

.contacts_email {
	font-size: 60px;
	line-height: 60px;
	color: #121212;
	display: inline;
	opacity: 0.5;
	font-weight: 100;
	border-bottom: 1px solid black;
}

.footer {
	background-color: #121212;
	max-width: 100%;
	padding: 74px 0;
}

.footer_wrapper {
	max-width: 1150px;
	margin: 0 auto;
}

.footer_navigation {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 87px;
}

.footer_link {
	color: #FFFFFF;
}

.footer_link:hover {
	opacity: 0.5;
	color: #FFFFFF;
}

.footer_author {
	font-family: 'Manrope';
	font-style: normal;
	color: #FFFFFF;
	font-weight: 100;
	font-size: 20px;
	line-height: 27px;
	opacity: 0.5;
	text-align: center;
}

@media (max-width: 780px) {
	.header_link {
		font-size: 16px;
		margin-left: 30px;
		line-height: 20px;
	}

	.section_wrapper {
		margin-bottom: 70px;
	}

	.primary-section_title {
		font-size: 40px;
		max-width: 990px;
		line-height: 53px;
		margin-bottom: 30px;
	}

	.primary-section_info {
		width: 100%;
		height: 500px;
		position: relative;
		max-width: 100%;
		background: url(../resources/main_image.jpg) center center no-repeat;
		background-size: cover;

	}

	.primary-section_text {
		left: 20px;
		color: #FFFFFF;
		bottom: 20px;
		position: absolute;
		max-width: 430px;
		font-size: 20px;
		line-height: 27px;
	}

	.about_text {
		font-size: 24px;
		line-height: 30px;
	}

	.about_button {
		padding: 15px 35px;
	}


	.projects_card-name {
		font-size: 24px;
		line-height: 35px;
	}

	.projects_card {
		margin-bottom: 50px;
	}

	.projects_button {
		padding: 17px 0;
	}

	.services {
		padding: 70px 0;
	}

	.services_card-name {
		font-size: 24px;
		line-height: 35px;
	}

	.contacts_phone_number {
		margin-bottom: 25px;
		font-size: 40px;
		line-height: 40px;
	}

	.contacts {
		padding: 70px 0;
	}

	.contacts_email {
		font-size: 40px;
		line-height: 40px;
		color: #121212;
		opacity: 0.5;
		text-decoration: underline;
	}
}